NODE_ENV=
# TIMEAZONE
TZ=
TIMEZONE=
TIME_ZONE=

# DATABASE
# POSTGRES
DATABASE_DB=
POSTGRES_DB=
POSTGRES_HOST_AUTH_METHOD=

DATABASE_USER=
DATABASE_PASSWORD=

# DB
DATABASE_CONTAINER_NAME=
DATABASE_ENGINE=
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_LOCAL_PORT=
DATABASE_IPV4_ADDRESS=
DATABASE_DB_PATH=
DATABASE_URL=

# EZCHAT_API
EZCHAT_API_CONTAINER_NAME=
EZCHAT_API_PORT=
EZCHAT_API_LOCAL_PORT=
EZCHAT_API_DEBUG_PORT=
EZCHAT_API_SOCKET_PORT=
EZCHAT_API_METRICS_PORT=
EZCHAT_API_IPV4_ADDRESS=
EZCHAT_API_WORKIR_PATH=

# EZCHAT_WEB_FRONTEND
EZCHAT_WEB_CONTAINER_NAME=
EZCHAT_WEB_PORT=
EZCHAT_WEB_LOCAL_PORT=
EZCHAT_WEB_IPV4_ADDRESS=
EZCHAT_WEB_WORKIR_PATH=

# NGINX
NGINX_CONTAINER_NAME=
NGINX_PORT=
NGINX_LOCAL_PORT=
NGINX_CERT_PORT=
NGINX_LOCAL_CERT_PORT=
NGINX_IPV4_ADDRESS=
NGINX_CONFIG_PATH=

# AWS
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
PRESIGNED_URL_EXPIRES_IN=

# REDIS CACHE
CACHE_REDIS_URL=
CACHE_REDIS_LOCAL_PORT=
CACHE_REDIS_IPV4_ADDRESS=

# REDIS QUEUE
PUB_SUB_REDIS_URL=
PUB_SUB_REDIS_LOCAL_PORT=
PUB_SUB_REDIS_IPV4_ADDRESS=

# TOKEN
ACCESS_TOKEN_KEY=
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_EXPIRATION=
EMAIL_LINK_TOKEN_EXPIRATION=

# HMAC
HMAC_SECRET=
FRONTEND_URL=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=